<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - granary</title>
    <link rel="stylesheet" href="~/css/granary.styles.css" asp-append-version="true" />
</head>
<body class="flex flex-column">
    <header class="w-1/12 h-screen bg-gray-70">
        <nav>

                    <ul class="">
                        <li>
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">granary</a>
                        </li>
                        <li>
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
        </nav>
    </header>
    <div class="w-11/12 min-h-screen">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
