@model IndexModel
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h4 class="mt-10 text-center text-xl font-bold leading-9 tracking-tight text-gray-200">
            @Model.WarningMessages
        </h4>
    </div>
</div>