@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  ViewData["Title"] = "Granary";
}


@{
  if (HttpContext.Session.GetString(IndexModel.UserEmailConfirmationReceived) == string.Empty)
  {
    <partial name="~/Pages/_Warning.cshtml" />
  }

  if (HttpContext.Session.GetString(IndexModel.SessionKeyId) == string.Empty)
  {
    <partial name="~/Pages/_Login.cshtml" />
  }
  else
  {
    <span class="text-slate-300 font-gy-body text-9xl">-RZ+875</span>
    <form method="post">
      <button type="submit" asp-page-handler="SignOut"
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
        Out</button>
    </form>
  }
}

