@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@
    <main>
        <div class="w-screen min-h-screen bg-blute-200 flex flex-column justify-center items-center">
            @Body
        </div>
    </main>
</div>
