@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar d-flex flex-column justify-content-between align-items-center">
        <NavMenu />
    </div>

    <main class="d-flex flex-column justify-content-center align-items-center">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
