/* Color Theme Swatches in Hex */
.blute-100 { color: #fcfdfa; }
.blute-200 { color: #f0c748; }
.blute-300 { color: #1a120f; }
.blute-400 { color: #5f4f20; }
.blute-500 { color: #aa0105; }
.blute-600 { color: #18290f; }
.blute-700 { color: #feec79; }
.blute-800 { color: #c79242; }
